---
import Layout from '../layouts/Layout_en.astro';
---

<Layout>
<div class="container mx-auto px-4 mt-8">
  <div class="flex flex-col md:flex-row md:items-center">
    <div class="hidden md:block md:w-1/4"></div>

    <div class="w-full md:w-1/2">

      <p class="text-base font-bold m-5 text-center">Contact</p>

      <p class="text-base m-2 text-left">For contacts, please use this email address.</p>
      <p class="text-base m-2 text-left">Work/Event Appearances (or Requests to appear in works or at events)</p>
      <p class="text-base m-2 text-left">Collaboration Requests for Live Streams/Videos</p>
      <p class="text-base m-2 text-left">Other Messages</p>

      <p class="text-base font-bold m-5 text-center">e-mail: akihiro.othello@gmail.com</p>

    </div>

    <div class="hidden md:block md:w-1/4"></div>
  </div>
</div>
</Layout>