---
import Layout from '../layouts/Layout_jp.astro';
---

<Layout>
<div class="container mx-auto px-4 mt-8">
  <div class="flex flex-col md:flex-row md:items-center">
    <div class="hidden md:block md:w-1/4"></div>

    <div class="w-full md:w-1/2">

      <p class="text-base font-bold m-5 text-center">Thank you!</p>
      <p class="text-base m-2 text-center">Your message has been sent.</p>
      <p class="text-base m-2 text-center">Please note that a reply may take about one week.</p>
      <p class="text-base font-bold m-4 text-center text-indigo-600"><a href="/en" class="hover:opacity-80 transition-opacity">Home</a></p>

    </div>

    <div class="hidden md:block md:w-1/4"></div>
  </div>
</div>
</Layout>