---
import xIcon from '../assets/images/x.png';
import instagramIcon from '../assets/images/instagram.png';
import twitchIcon from '../assets/images/twitch.png';
import facebookIcon from '../assets/images/facebook.png';
---


<footer>
    <div class="bg-gray-700">
        <div class="flex justify-end">
            <a href="https://www.instagram.com/aki_othello/" class="p-2 hover:opacity-80 transition-opacity" target="_blank">
                <img src={instagramIcon.src} alt="Instagram icon" class="w-6 h-6 fill-current" />
            </a>
            <a href="https://x.com/Aki_Othello" class="p-2 hover:opacity-80 transition-opacity" target="_blank">
                <img src={xIcon.src} alt="X icon" class="w-6 h-6 fill-current" />
            </a>
            <a href="https://www.twitch.tv/nsg_othello" class="p-2 hover:opacity-80 transition-opacity" target="_blank">
                <img src={twitchIcon.src} alt="Twitch icon" class="w-6 h-6 fill-current" />
            </a>
            <a href="http://facebook.com/akihirotamura0513k.com" class="p-2 hover:opacity-80 transition-opacity" target="_blank">
                <img src={facebookIcon.src} alt="Facebook icon" class="w-6 h-6 fill-current" />
            </a>
        </div>
        <p class="p-4 text-center text-white md:px-8">© AKIHIRO TAMURA</p>
    </div>
</footer>